* {
  font-family: "MonaspiceNe Nerd Font Propo";
  font-size: 12pt;
  font-weight: 500;
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

window#waybar {
  color: #abb2bf;
  background: none;
}

.modules-left,
.modules-right {
  padding: 3pt;
  background: #282c34;
}

#custom-rofi,
#window,
#disk,
#cpu,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#network,
#clock {
  padding-right: 6pt;
}

#custom-rofi {
  color: #282c34; 
  border: 2pt solid #2b6f77;
  background: #56b6c2;
  padding: 0pt 6pt;
}

#workspaces button {
  color: #282c34;
  background: #848b98;
  border: 2pt solid #5c6370;
  margin-right: 3pt;
  min-width: 15pt;
  padding: 0 3.75pt;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button:hover {
  color: #282c34;
  background: #e86671;
  border-color: #993939;
}

#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover {
  color: #e5c07b;
  background: #282c34;
  border-color: #e5c07b;
}

#workspaces button.urgent {
  color: #282c34;
  border-color: #993939;
}

#window {
  border: 2pt solid #e86671;
}

#tray {
  border: 2pt solid #56b6c2;
  padding: 0 6pt;
}

#disk {
  min-width: 3em;
  border: 2pt solid #e86671;
}

#cpu {
  border: 2pt solid #d19a66;
}

#backlight {
  border: 2pt solid #f6c657;
}

#custom-memory {
  border: 2pt solid #61afef;
}

#pulseaudio {
  border: 2pt solid #848b98;
}

#pulseaudio.muted {
  border: 2pt solid #e86671;
  color: #ea6962;
}

#battery {
  border: 2pt solid #689d68;
}

#battery.critical {
  border: 2pt solid #cc241d;
}

#battery.warning {
  border: 2pt solid #e78a4e;
}

#clock {
  border: 2pt solid #98c379;
}

#network {
  border: 2pt solid #c678dd;
}

#submap {
  color: #61afef;
  border: 2pt solid #61afef;
  padding: 0 7.5pt;
}
